<html>
    <head>
    <link href="/assets/style.css" rel="stylesheet" type="text/css">
        <title>
            <% title %>
        </title>
    </head>
    <body>
        <% include ./header.ejs %>
        <h1>Collection Manager</h1>
        <h3>For People That Can't Use Excel!</h3>
        <ul>
            <li><a href="/create">New Entry</a></li>
            <li><a href="/read">View Collection</a></li>
            <li><a href="/update">Update</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/delete">Delete</a></li>
        </ul>
        <% include ./footer.ejs %>
    </body>
</html>