<html>
    <head>
    <link href="/assets/style.css" rel="stylesheet" type="text/css">
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <% include ./header.ejs %>
        <h1>Update Collection</h1>
        <form name="form" method="post">
            <p>
                <input type="text" name="title" placeholder="Title">
            </p>
            <p>
                <input type="text" name="author" placeholder="Author">
            </p>
            <p>
                <select name="type">
                    <option value="Book">Book</option>
                    <option value="Card">Card</option>
                    <option value="Game">Game</option>
                    <option value="Movie">Movie</option>
                </select>
            </p>
            <p>
                <textarea name="description" placeholder="contents">
                </textarea>
            </p>
            <p>
                <input type ="submit" value="Update" formaction="/update">
            </p>
        </form>

        <% include ./footer.ejs %>
    </body>
</html>